body {
  font-family: monospace;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}

.typewriter {
  background-color: #fff;
  min-width: 500px;
  padding: 0 2em 1em 0em;
  margin: 0em;
  display: flex;
  align-items: flex-start;
}

.typewriter h1 {
  font-size: 1em;
  font-family: "PT Sans", Helvetica, Arial, sans-serif !important;
  max-width: max-content;
  overflow: hidden;
  border-right: 0.05em solid #464545; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
}

.typing-erase {
  animation: typing 6s steps(60, end), blink-caret 0.5s step-end 1;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.menu {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 40px;
  justify-self: stretch;
}

.home-container {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.flex-items {
  text-align: center;
  padding: 0 50px 0 50px;
  width: 100%;
  color: #c0c0c0;
}

.flex-items:hover {
  color: #505050;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .menu {
    /* flex-direction: column; */
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .flex-items {
    width: 33%;
    padding: 0px;
  }
  .home-container {
    height: 400px;
    bottom: 0px;
    padding: 0;
    margin: 0;
  }
}

h1 {
  color: #505050 !important;
}

@media (max-width: 1080px) {
  .site-title {
    overflow: visible;
  }
}

.masthead-title {
  text-align: center;
}

.content,
.container {
  padding: 0 !important;
}
